.card{
    background-color: #F6E1C3;
    
    padding: 1.5em;
    border-radius: 15px;
    margin: 2%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.60);
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    flex-wrap: wrap;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.boton{
    margin-left: 92% ;
    margin-bottom: 5%;
    background-color: rgba(2, 1, 1, 0.849);
    width: fit-content;
    height: fit-content;
    transition:0.1s;
    border-radius: 4px;
    color:white;
    border-width: 1.4px;
}
.boton:hover {
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.55);
}
.elementos{
    margin: 10px;
}



